/* Place index.html page specific styles */
body {
    font-family: 'Press Start 2P', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    box-sizing: border-box;
}


body {
    background: #e9eedddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}


.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px #000000ce(0,0,0.2),
            0 10px 10px #0a0a0ace(0,0,0.25);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 768px;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    text-align: center;
}


.header {
    margin-bottom: 30px;
    color: #124559;
}




.login-form, .register-link {
    margin-bottom: 20px;
    color: #124559;
}


.form-group {
    margin-bottom: 15px;
}


input, textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #369661c7;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #FF416C;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}


.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.modal-buttons button {
    width: 48%;
}

