<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wealth is Health - Take control</title>


    <!-- PWA Manifest for enabling Progressive Web App features -->
    <link rel="manifest" href="/manifest.json">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
   
    <link rel="stylesheet" href="static\css\index.css">


    <script src="/static/js/index.js"></script>


    <!-- Set the theme color for mobile browsers (custom dark theme) -->
    <meta name="theme-color" content="#1a1a1a">
</head>
<body>


    <div class="container">
        <div class="content">
            <!-- <div class="col-md-6 col-lg-4"> -->
                <div class="header">
                    <h1 class="display-4 text-primary">Wealth is Health</h1>
                    <p>"Take control, track your goals"</p>
                </div>


                <!-- Login Form -->
                <div>
                    <div class="login-form">
                        <h4>Log In</h4>
                        <form id="loginForm">
                          <div class="form-group">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                            </div>
                            <div>
                                <button type="submit">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="regsiter-link">
                    <p>Don't have an account?
                      <a href="#" class="text-primary" onclick="displayRegister()">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Create Account Modal -->
    <div id="createAccountModal" class="modal">
        <div class="modal-content">
            <h5>Create an Account</h5>
            <form id="createAccountForm">
                <div class="form-group">
                    <label for="createEmail">Email</label>
                    <input type="email" id="createEmail" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="createPassword">Password</label>
                    <input type="password" id="createPassword" placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                    <label for="createDescription">Description (Optional)</label>
                    <textarea id="createDescription" rows="3" placeholder="Tell us a bit about yourself"></textarea>
                </div>
                <div class="modal-buttons">
                    <button type="button" onclick="closeModal()">Cancel</button>
                    <button type="submit" >Create Account</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>